*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 24px; 
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Source Sans Pro', sans-serif;
}

a, a:hover{
	text-decoration: none;
}

/*******************   Header-section Start     *********************/
/********************************************************************/

.header-section{
	width: 100%;
}

/********  Nav1 part start  *********/

.header-section .nav1{
	width: 100%;
	padding: 10px 0px;
	background-color: #f5f7fa;
}

.header-section .nav1 .info-inner{
	display: block;
	margin: 0px;
	color: #506a85;
}

.header-section .nav1 .info-inner li{
	display: inline-block;
	list-style: none;
}

.header-section .nav1 .info-inner li a{
	font-size: 14px;
	font-weight: 500;
	color: #506a85;
	margin-right: 18px;
	text-decoration: none;
}

.header-section .nav1 .info-inner li a .fa{
	margin-right: 8px;
}

.header-section .nav1 .info-inner li a .fa:focus,
.header-section .nav1 .info-inner li a .fa:hover{
	color: #00bc9c;
}


.header-section .nav1 .socialicon-inner{
	display: block;
	margin: 0px;
	text-align: right;
	
}

.header-section .nav1 .socialicon-inner li{
	display: inline-block;
	list-style: none;

}

.header-section .nav1 .socialicon-inner li a{
	font-size: 14px;
	color: #506a85;
	margin-left: 18px;
}

.header-section .nav1 .socialicon-inner .fa:hover{
	color: #00bc9c;
}

/********  Nav1 part end  *********/

/********  Nav2 part start  *********/

.header-section .bg-light{
	background: #ffffff !important; 
	padding: 30px 0px;
}

.header-section .navbar-light .navbar-nav .nav-link {
    color: #506a85;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px 10px;
}

.header-section .navbar-light .navbar-nav .active>.nav-link{
	 color: #506a85;
	 font-weight: 700;
}

.header-section .navbar-expand-lg .navbar-nav {
    margin-left: 40px;
}

.header-section .right-search .fa{
	color: #506a85;
	text-decoration: none;

}

.header-section .right-search .fa:focus,
.header-section .right-search .fa:hover{
	color: #00bc9c;
}

.header-section .navbar-light .navbar-nav .nav-link:focus,
.header-section .navbar-light .navbar-nav .nav-link:hover {
    color: #00bc9c;
}

/********  Nav2 part end  *********/

/*******************   Header-section End     *********************/
/******************************************************************/

/*******************   Slider-section Start     ********************/
/******************************************************************/

.slider{
	width: 100%;
}

.slider .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 30%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.slider .carousel-caption h2{
    font-size: 54px;
    line-height: 64px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.slider .carousel-caption p{
	font-size: 14px;
    line-height: 24px;
    color: #a3b1bf;
    font-weight: 400;
}

.slider .carousel-caption .btn-info{
	font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 13px 45px;
    margin-top: 35px;
    border-radius: 2px;
    border: 1px solid #00bc9c;
    background:#00bc9c;
    color: #fff; 
    transition:2s; 
}

.slider .carousel-caption .btn-info:focus,
.slider .carousel-caption .btn-info:hover{
	background: transparent;
	border: 1px solid #00bc9c;
	color: #00bc9c;
}

/*******************   Slider-section End     *********************/
/******************************************************************/

/*******************   Who_we_are-section Start     ***************/
/******************************************************************/

.who_we_are{
	width: 100%;
	padding: 80px 0px;
}

.who_we_are .title{
	text-align: center;
	width: 100%;
}

.who_we_are .title h2{
	font-size: 44px;
    line-height: 54px;
    color: #506a85;
    font-weight: 600;
    text-transform: capitalize; 
    margin-bottom: 20px; 
}

.who_we_are .title p{
	color: #506a85;
	font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}

.who_we_are .media{
	margin-top: 40px;
}

.who_we_are img {
    padding-top: 7px;
}

.who_we_are .media-body {
    padding: 0px 10px;
}

.who_we_are .media .media-body h5{
	font-size: 24px;
    line-height: 34px;
    color: #506a85;
    font-weight: 600;
    text-transform: capitalize; 
}

.who_we_are .media .media-body p{
	color: #506a85;
	font-size: 12px;
    line-height: 22px;
     font-weight: 500;
}

/*******************   Who_we_are-section End     ****************/
/*****************************************************************/

/*******************   Works-section Start     ****************/
/*****************************************************************/

.works{
	width: 100%;
	padding: 80px 0px;
	background:#f2f5f7; 
}
.works .title{
	text-align: center;
	width: 100%;
	padding-bottom: 40px;
}
.works .title h2{
	font-size: 44px;
    line-height: 54px;
    color: #506a85;
    font-weight: 600;
    text-transform: capitalize; 
    margin-bottom: 20px; 
}

.works .title p{
	color: #506a85;
	font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing:.5px;
}

.works .card{
	text-align: center;
	border-radius: 0px;
}
.works .card .card-img-top{
	border-radius: 0px;
}
.work .card .card-img-bottom{
	border-radius: 0px;
}
.works .card .card-body .card-title{
	font-size: 16px;
    line-height: 26px;
    color: #506a85;
    font-weight: 600;
    text-transform: capitalize; 
    margin-bottom: 3px;
}
.works .card .card-body .card-text{
	color: #506a85;
	font-size: 12px;
    line-height: 22px;
    font-weight: 400;
}
.works .owl-carousel{
	margin-top: 45px;
}
.works .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 25px;
}

.works .owl-theme .owl-dots .owl-dot.active span, 
.works .owl-theme .owl-dots .owl-dot:hover span {
    background: #00bc9c;
}
/*******************   Works-section End     ****************/
/*****************************************************************/

/*******************  Want-to-works-section Start     ****************/
/*****************************************************************/

.want-to-work{
	width: 100%;
	padding: 90px 0px;
}

.want-to-work .wants_works{
	text-align: center;
}

.want-to-work .wants_works h2{
	font-size: 44px;
    line-height: 54px;
    color: #506a85;
    font-weight: 600;
    text-transform: capitalize; 
    margin-bottom: 20px; 
}

.want-to-work .wants_works p{
	color: #506a85;
	font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.want-to-work .wants_works .btn-info {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 4px;
    border: 1px solid #00bc9c;
    background: #00bc9c;
    color: #fff;
    transition: 2s;
}
.want-to-work .wants_works .btn-info:focus,
.want-to-work .wants_works .btn-info:hover{
	background: transparent;
	border: 1px solid #00bc9c;
	color: #00bc9c;
}

/*******************  Want-to-works-section End    ****************/
/*****************************************************************/

/*******************  Footer-section Start    ****************/
/*****************************************************************/

.footer-section{
	width: 100%;
	padding: 80px 0px;
	background: #2f4052;
}

              /******** widget 1 part start  *********/

.footer-section .widget{
	width: 100%;
}
.footer-section .widget h4{
	font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase; 
    margin-bottom: 20px;
}
.footer-section .widget p{
	font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin: 16px 0px; 
    color: #92a0ae;
}
.footer-section .widget .link {
	font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: #92a0ae;
}

.footer-section .widget .link:hover{
	color:#00bc9c;
	text-decoration: none;
}

.footer-section .widget .link .fa{
	margin: 0px 10px;
}

                 /******** widget 1 part end  *********/

				/******** widget 2 part start  *********/

.footer-section .widget .no-mar{
	padding-left: 12px;
	padding-right: 12px;
}

.footer-section .widget .card-img, .footer-section .widget .card-img-top{
	border-radius: 0px;
}

.footer-section .widget .no-mar .card-group{
	margin-bottom: 5px;
}

.footer-section .widget .no-mar .card-group .card{
	border-radius: 0px;
	border: none;
	margin: 0px 2px;
}

               /******** widget 2 part end  *********/

              /******** widget 3 part start  *********/

.footer-section .widget .widget-info{
	margin: 0px;
}
.footer-section .widget .widget-info li{
	list-style: none;
}
.footer-section .widget .widget-info li a{
	text-decoration: none;
	color: #92a0ae;
}
.footer-section .widget .widget-info li a .fa{
	margin-right: 6px;
}
.footer-section .widget .widget-info .fa:focus,
.footer-section .widget .widget-info .fa:hover{
	color: #00bc9c;
}

              /******** widget 3 part end  *********/

             /******** widget 4 part start  *********/

.footer-section .widget .form .mx-sm-3{
	margin-left: 0px !important;
}

.footer-section .widget .form .form-control{
    width: 100%;
    background: #4e5c6c;
    border-radius: 2px;
    font-size: 13px;
    padding: 18.5px 6px;
    border: transparent;

} 	

.footer-section .widget .form .btn-primary {
    color: #fff;
    background-color: #00bc9c;
    border-color: #00bc9c;
    position: absolute;
    right: 12%;
    bottom: 31%;
    padding: 7px 14px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.footer-section .widget .form .btn-primary:focus,
.footer-section .widget .form .btn-primary:hover{
	background: transparent;
	border: 1px solid #00bc9c;
	color: #00bc9c;
}  

            /******** widget 4 part end  *********/

.last-footer-section{
	width: 100%;
	padding: 8px 0px;
	background:#283645; 
}
.last-footer-section p{
	color: #92a0ae;
	font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 15px;

}
.last-footer-section .last-nav{
	width: 100%;
	text-align: right;
	margin-top: 15px;

}

.last-footer-section .last-nav ul{
	display: block;
	color: #92a0ae;

}
.last-footer-section .last-nav ul li{
	display: inline-block;
	list-style: none;
	color: #92a0ae;

}
.last-footer-section .last-nav ul li a{
	font-size: 14px;
	line-height: 24px;
	text-transform: capitalize;
	font-weight: 400;
	margin:0px 8px;
	color: #92a0ae;
	text-decoration: none;
}
.last-footer-section .last-nav ul li a:focus,
.last-footer-section .last-nav ul li a:hover{
	color: #00bc9c;
}


/*******************  Footer-section End    ****************/
/*****************************************************************/